---
- name: Add syncthing user
  user:
    name: "{{syncthing_user}}"
    shell: "/usr/sbin/nologin"
    password: "!"
    system: true
    createhome: true
    home: "{{syncthing_user_home}}"
  when:
    "syncthing_manage_user"

- name: Download syncthing apt repository key
  get_url:
    url: "{{ syncthing_apt_key_url }}"
    dest: "{{ syncthing_apt_key_path }}"
    mode: '0644'

- name: Ensure apt signing tools are installed
  ansible.builtin.apt:
    name:
      - gnupg
      - ca-certificates
    state: present
    update_cache: yes

- name: Add syncthing apt repository
  apt_repository:
    repo: >
      deb [signed-by={{ syncthing_apt_key_path }}]
      https://apt.syncthing.net/ syncthing stable-v2
    state: present
    filename: syncthing

- name: Install syncthing package
  apt:
    update_cache: true
    name: syncthing

- name: Copy syncthing systemd service
  copy:
    src: "/usr/lib/systemd/user/syncthing.service"
    dest: "/etc/systemd/system/syncthing.service"
    remote_src: true
    owner: "root"
    group: "root"
    mode: "0644"

- name: Set syncthing to run after network target
  lineinfile:
    path: "/etc/systemd/system/syncthing.service"
    line: "After=network.target"
    insertafter: "^\\[Unit\\]$"

- name: Set syncthing user
  lineinfile:
    path: "/etc/systemd/system/syncthing.service"
    line: "User={{syncthing_user}}"
    regexp: "^User="
    insertafter: "^\\[Service\\]$"

- name: Set syncthing group
  lineinfile:
    path: "/etc/systemd/system/syncthing.service"
    line: "Group={{syncthing_user}}"
    regexp: "^Group="
    insertafter: "^\\[Service\\]$"

- name: Set syncthing ProtectSystem
  lineinfile:
    path: "/etc/systemd/system/syncthing.service"
    line: "ProtectSystem=strict"
    regexp: "^ProtectSystem="
    insertafter: "^\\[Service\\]$"

- name: Set syncthing PrivateTmp
  lineinfile:
    path: "/etc/systemd/system/syncthing.service"
    line: "PrivateTmp=true"
    regexp: "^PrivateTmp="
    insertafter: "^\\[Service\\]$"

- name: Set syncthing ReadWritePaths=
  lineinfile:
    path: "/etc/systemd/system/syncthing.service"
    line: "ReadWritePaths=-{{ syncthing_path }}"
    regexp: "^ReadWritePaths="
    insertafter: "^\\[Service\\]$"

- name: Reload systemctl
  systemd:
    daemon-reload: true

- name: Start syncthing
  service:
    name: "syncthing"
    state: "started"
    enabled: true
